body{
	padding-top: 40px;
	background-color: #fff;
	color:#3e3e3e;
}
h1{
	font-family:'Lilita One';
	color:#000;
}
h2{
	text-align: center;
	font-family:'Lilita One';
	color:#0d72a9;
	font-size: 45px;
}
h3{
	font-family:'Open Sans';
	color:#2baae2;
	font-size: 30px;
	font-weight:800;
}
h4{
	font-family:'Open Sans';
	color:#7dd1f8;
}
p{
	font-family:'Open Sans';
	letter-spacing: 2px;
	line-height: 150%;
	font-size: 18px;
}
div.container .nav-button-ben a{
	font-family:'Open Sans';
	letter-spacing: 2px;
	line-height: 150%;
	font-size: 18px;
	color: #2baae2;
	transition: background-color 0.35s ease, color 0.2s ease;
	background-color: transparent;
}
div.container .nav-button-ben a:hover{
	color: #fff;
	background-color: #2baae2;
	 
}
a{
	transition: color 0.2s ease;
	color:#2baae2;
	text-decoration: none;
}
a:hover{
	color: #0d72a9;
}
.no-border{
	border: 0;
}
.titlebox{
	margin:0;
	background-color: #7dd1f8;
}
.titletext{
	color:#000;
	padding: 80px 0 20px 0;
}
.titletext h1{
	font-family:Knewave;
	font-size: 100px;
}
.titleimage{
	margin: 0 auto;
	max-width: 800px;
}
.background-blue{
	background-color: #2baae2;
	color:#fff;
}
.whited h1 {
	color: #fff;
}
.whited h2 {
	color: #fff;
}
.whited h3 {
	color: #fff;
}
.whited p {
	color: #fff;
}
.padding-0{
	padding: 0;
}
.padding-0 img {
	width: 100%;
}
.image-bar{
	margin: -1px 0;
	width: 100%;
	overflow: hidden;
}
.image-bar img{

	position: relative;
	width:104%;
	left: -2%;
}
.panel{
	background-color: #7dd1f8;
	border-radius: 20px;
	border-color:transparent;
	padding: 5%;
}
.aboutme .row{
	margin: 50px 0;
}
.btn-ben{
	background-color: #2baae2;
	border-radius: 30px;
	color: white;
	font-family:'Lilita One';
	font-size: 20px;
	padding: 15px 35px;
	letter-spacing: 1px;
	transition: background-color 0.2s ease;
}
.btn-ben:hover{
	background-color: #7dd1f8;
	color: #fff;
}
.btn-ben:active{
	background-color: #7dd1f8;
	color: #fff;
}
.ben-logo a{
	padding: 0 25px;
}
.ben-logo img{
	height:100%;
}
.row-large-margin{
	margin: 35px 15px;
}	
.image-upper-margin{
	margin-top: 60px;
}
.excessive-vertical-margin{
	margin: 75px 0;
}
.portfolio-picture{
	border-radius: 10px;
	overflow:hidden;
}
.portfolio-picture img{
	width:100%;
}